/* Style 9 */

/* @group Structure */

body {
	background: #fff;
	color: #1C1D21;
}

.contentheading {
	color: #666;
}

a {
	color: #666;
}

body.header1 #header {
	background: url(../images/style9/texture-bg1.jpg) 0 -2px repeat-x;
}

body.header2 #header {
	background: url(../images/style9/texture-bg2.jpg) 0 -2px repeat-x;
}

body.header3 #header {
	background: url(../images/style9/texture-bg3.jpg) 0 -2px repeat-x;
}

body.header4 #header {
	background: url(../images/style9/texture-bg4.jpg) 0 -2px repeat-x;
}

body.header5 #header {
	background: url(../images/style9/texture-bg5.jpg) 0 -2px repeat-x;
}

body.header6 #header {
	background: url(../images/style9/texture-bg6.png) 0 -2px repeat-x;
}

img#logo {
	background: url(../images/style9/logo.png) 0 0 no-repeat;
}

#banner {
	color: #666;
}

#showcase {
	background: #F8F8F8;
	color: #666;
}

#showcase2 {
	background: url(../images/style9/showcase-top-bg.png) 0 0 repeat-x;
}

#body-bg {
	background: #fff url(../images/style9/body-bg.png) 0 0 repeat-x;
}

#leftcol,
#maincol,
#rightcol {
	color: #333;
}

#leftcol,
#rightcol {
	background: url(../images/style9/column-shadow-l.png) 0 0 no-repeat;
}

#leftcol2,
#rightcol2 {
	background: url(../images/style9/column-shadow-r.png) 100% 0 no-repeat;
}

td.rightcol,
td.leftcol {
	background: #F8F8F8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#bottom-topbar {
	background: url(../images/style9/bottom-topbar.png) 0 0 repeat-x;
}

body.header1 #bottom {
	background: #fff url(../images/style9/texture-bg1.jpg) 0 0 repeat-x;
}

body.header2 #bottom {
	background: #fff url(../images/style9/texture-bg2.jpg) 0 0 repeat-x;
}

body.header3 #bottom {
	background: #fff url(../images/style9/texture-bg3.jpg) 0 0 repeat-x;
}

body.header4 #bottom {
	background: #fff url(../images/style9/texture-bg4.jpg) 0 0 repeat-x;
}

body.header5 #bottom {
	background: #fff url(../images/style9/texture-bg5.jpg) 0 0 repeat-x;
}

body.header6 #bottom {
	background: #fff url(../images/style9/texture-bg6.png) 0 0 repeat-x;
}

#bottom a {
	color: #666;
}

img#rocket {
	background: url(../images/style9/rocket.png) 0 0 no-repeat;
}

#leftcol tr.sectiontableentry2 td,
#rightcol tr.sectiontableentry2 td,
#leftcol td.sectiontableentry2,
#rightcol td.sectiontableentry2 {
 	background: url(../images/style9/mainmenu-bg.png) 50% 0 no-repeat;
}

#leftcol tr.sectiontableentry1 td,
#rightcol tr.sectiontableentry1 td,
#leftcol td.sectiontableentry1,
#rightcol td.sectiontableentry1 {
	background: url(../images/style9/mainmenu-bg.png) 50% -27px no-repeat;
}

#maincol tr.sectiontableentry2 td,
#maincol td.sectiontableentry2 {
 	background: #F2F2F2;
}

/* @end */

/* @group Modules */

#showcasemodules .module-featured {
	background: url(../images/style9/modules/featured/module-bg.png) 0 100% repeat-x;
}

#showcasemodules .module-featured h3 {
	background: url(../images/style9/modules/featured/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#showcasemodules .module-featured h3 span {
	color: #333;
}

#showcasemodules .module h3 {
	color: #333;
}

#showcasemodules a {
	color: #666;
}

#showcasemodules {
	color: #333;
}

#leftcol .moduletable-hilite1 h3,
#rightcol .moduletable-hilite1 h3 {
	background: url(../images/style9/modules/hilite1/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#leftcol .moduletable-hilite1 h3 span,
#rightcol .moduletable-hilite1 h3 span {
	color: #333;
}

#leftcol .moduletable-hilite1,
#rightcol .moduletable-hilite1 {
	background: #EFEFEF url(../images/style9/modules/hilite1/module-bg.png) 50% 100% no-repeat;
	color: #333;
}

#leftcol .moduletable-hilite1 a.readon,
#rightcol .moduletable-hilite1 a.readon,
#leftcol .moduletable-hilite1 a,
#rightcol .moduletable-hilite1 a,
.module-hilite5 .readon,
.module-hilite5 a {
	color: #666;
}

#leftcol .moduletable-hilite2 a.readon,
#rightcol .moduletable-hilite2 a.readon,
#leftcol .moduletable-hilite2 a,
#rightcol .moduletable-hilite2 a,
.module-hilite6 .readon,
.module-hilite6 a {
	color: #666;
}

#leftcol .moduletable-hilite2 h3,
#rightcol .moduletable-hilite2 h3 {
	background: url(../images/style9/modules/hilite2/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#leftcol .moduletable-hilite2 h3 span,
#rightcol .moduletable-hilite2 h3 span {
	color: #333;
}

#leftcol .moduletable-hilite2,
#rightcol .moduletable-hilite2 {
	background: #EAEAEA url(../images/style9/modules/hilite2/module-bg.png) 50% 100% no-repeat;
	color: #333;
}

#leftcol .moduletable h3,
#rightcol .moduletable h3 {
	background: url(../images/style9/modules/module-side/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#leftcol .moduletable h3 span,
#rightcol .moduletable h3 span {
	color: #333;
}

#leftcol .moduletable,
#rightcol .moduletable {
	background: #EAEAEA url(../images/style9/modules/module-side/module-bg.png) 50% 100% no-repeat;
	color: #333;
}

#maincol .module h3 {
	background: url(../images/style9/modules/module-main/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#maincol .module h3 span {
	color: #333;
}

#maincol .module {
	color: #333;
}

#maincol .module-hilite3 h3 {
	background: url(../images/style9/modules/hilite3/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#maincol .module-hilite3 h3 span {
	color: #333;
}

#maincol .module-hilite3 {
	color: #333;
}

#maincol .module-hilite4 h3 {
	background: url(../images/style9/modules/hilite4/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#maincol .module-hilite4 h3 span {
	color: #333;
}

#maincol .module-hilite4 {
	color: #333;
}

#maincol .module-hilite5 h3 {
	background: url(../images/style9/modules/hilite5/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#maincol .module-hilite5 h3 span {
	color: #333;
}

#maincol .module-hilite5 {
	background: #EFEFEF  url(../images/style9/modules/hilite5/module-bg.png) 50% 100% no-repeat;
	color: #333;
}

#maincol .module-hilite6 h3 {
	background: url(../images/style9/modules/hilite6/module-h3.png) 50% 0 no-repeat;
	color: #838384;
}

#maincol .module-hilite6 h3 span {
	color: #333;
}

#maincol .module-hilite6 {
	background: #EAEAEA url(../images/style9/modules/hilite6/module-bg.png) 50% 100% no-repeat;
	color: #333;
}

#bottommodules,
#bottom-menu a {
	color: #333;
}

#bottommodules .module h3 {
	color: #333;
}

#bottom-menu a:hover {
	color: #666;
}

#bottom-menu a.mainlevel {
	 border-right: 1px solid #ddd;
}

/* @end */

/* @group Menus */

ul.menu li.active li a:hover {
	color: #333;
}

#horiz-menu li.active a.daddy:hover,
#horiz-menu li.active a.daddy.sfHover {
	color: #333;
}

#horiz-menu a {
	color: #333;
	background-image: url(../images/style9/menu-l.png);
}

#horiz-menu li {
	background-image: url(../images/style9/menu-r.png);
}

#horiz-menu li.active a,
#horiz-menu li.sfHover.active a {
	color: #333;
}

#horiz-menu.splitmenu li.active a,
#horiz-menu.splitmenu li.active-sfHover a {
	color: #000;
	background: url(../images/style9/menu-l.png) 0 0 no-repeat;
}

#horiz-menu.splitmenu li.active {
	background: url(../images/style9/menu-r.png) 100% 0 no-repeat;
}

#horiz-menu a:hover {
	color: #333;
}

#horiz-menu li li a:hover,
#horiz-menu li.active li a:hover {
	color: #666;
}

#horiz-menu li li a,
#horiz-menu li.active li a {
	color: #333;
}

#horiz-menu li li.parent a.daddy,
#horiz-menu li.active li.parent a.daddy {
	background: url(../images/style9/dropdown-child.png) 95% 50% no-repeat;
}

#horiz-menu li li.parent:hover a.daddy,
#horiz-menu li.active li.parent:hover a.daddy,
#horiz-menu li li.parent-sfHover a.daddy,
#horiz-menu li.active li.parent-sfHover a.daddy {
	background: url(../images/style9/dropdown-child.png) 95% 50% no-repeat;
}

#horiz-menu li li, 
#horiz-menu li:hover li,
#horiz-menu li.sfHover li,
#horiz-menu li.parent:hover li,
#horiz-menu li.parent.sfHover li,
#horiz-menu li.active.parent:hover li,
#horiz-menu li.active.parent.sfHover li {
	border-bottom: 1px solid #C6C6C6;
	background: none;
}

#horiz-menu ul ul {
	background: #DCDCDC;
}

ul.menu li a,
a.mainlevel {
	background: url(../images/style9/mainmenu-bg.png) 0 0 no-repeat;
	color: #333;
}

ul.menu li.active a,
ul.menu li a:hover,
ul.menu li.active a:hover,
a#active_menu,
a.mainlevel:hover {
	color: #666;
	background: url(../images/style9/mainmenu-bg.png) 0 -27px no-repeat;
}

a#active_menu.sublevel {
	color: #333;
}

a.sublevel {
	color: #333;
}

a.sublevel:hover {
	color: #666;
}

/* @end */

/* @group Tabber */

#moduleslider-size {
	background: url(../images/style9/modules/tabber/module-bg.png) 50% 100% no-repeat;
}

#rokslide-toolbar li.current,
#rokslide-toolbar li.last.current {
	background: url(../images/style9/active-tab-r.png) 100% 0 no-repeat;
}

#rokslide-toolbar li.current span {
	background: url(../images/style9/active-tab-l.png) 0 0 no-repeat;
}

#rokslide-toolbar li {
	background: url(../images/style9/tab-r.png) 100% 0 no-repeat;
}

#rokslide-toolbar li span {
	background: url(../images/style9/tab-l.png) 0 0 no-repeat;
}

#rokslide-toolbar {
	color: #666;
	background: url(../images/style9/tab-bg.png) 0 0 repeat-x;
}

#rokslide-toolbar li.active { 
	color: #333;
}

#rokslide-toolbar li.current { 
	color: #333;
}

/* @end */

/* @group Typography */

li.number-1 {
	background: url(../images/style9/typo/number-1.png) 0 0 no-repeat;	
}

li.number-2 {
	background: url(../images/style9/typo/number-2.png) 0 0 no-repeat;	
}

li.number-3 {
	background: url(../images/style9/typo/number-3.png) 0 0 no-repeat;	
}

li.number-4 {
	background: url(../images/style9/typo/number-4.png) 0 0 no-repeat;	
}

li.number-5 {
	background: url(../images/style9/typo/number-5.png) 0 0 no-repeat;	
}

li.number-6 {
	background: url(../images/style9/typo/number-6.png) 0 0 no-repeat;	
}

li.number-7 {
	background: url(../images/style9/typo/number-7.png) 0 0 no-repeat;	
}

li.number-8 {
	background: url(../images/style9/typo/number-8.png) 0 0 no-repeat;	
}

li.number-9 {
	background: url(../images/style9/typo/number-9.png) 0 0 no-repeat;	
}

ul.bullet-1 li {
	background: url(../images/style9/typo/bullet-1.png) 2px 0 no-repeat;
}

ul.bullet-2 li {
	background: url(../images/style9/typo/bullet-2.png) 2px 0 no-repeat;
}

ul.bullet-3 li {
	background: url(../images/style9/typo/bullet-3.png) 2px 0 no-repeat;
}

ul.bullet-4 li {
	background: url(../images/style9/typo/bullet-4.png) 2px 0 no-repeat;
}

blockquote {
	background: url(../images/style9/typo/quote-start.png) 0 0 no-repeat;
}

blockquote p {
	background: url(../images/style9/typo/quote-end.png) 100% 100% no-repeat;
}

pre {
	background: #F2F2F2;
	border: 1px solid #E4E4E4;
}

.tool-tip {
	background: #F2F2F2;
	border: 1px solid #E4E4E4;
	padding: 4px;
}

span.alert {
	color: #CC0000;
	border-top: 3px solid #FF9999;
	border-bottom: 3px solid #FF9999;
	background: #FFD9D9 url(../images/style9/typo/status-alert.png) 10px 50% no-repeat;
}

span.info {
	color: #0055BB;
	border-top: 3px solid #9CC0EE;
	border-bottom: 3px solid #9CC0EE;
	background: #DAE7F9 url(../images/style9/typo/status-info.png) 10px 50% no-repeat;
}

span.note {
	color: #B79000;
	border-top: 3px solid #FFEB99;
	border-bottom: 3px solid #FFEB99;
	background: #FFF7D9 url(../images/style9/typo/status-note.png) 10px 50% no-repeat;
}

span.download {
	color: #57861A;
	border-top: 3px solid #D1E9A4;
	border-bottom: 3px solid #D1E9A4;
	background: #EEF7DD url(../images/style9/typo/status-download.png) 10px 50% no-repeat;
}

/* @end */

/* @group signal login styling */

#sl_vert #sl_username input#mod_login_username, 
#sl_vert #sl_pass input#mod_login_password, 
#sl_vert #sl_submitbutton input.button {
	background-color: #fff;
	color: #333;
	border: 1px solid #D7D7D7;
}

#sl_vert #sl_submitbutton input.button {
	background: #E1E1E1;
	color: #333;
}

/* @end */

/* @group RokContentRotator */

.rok-content-rotator {
	background: url(../images/style9/slide-div.png) 215px 0 repeat-y;
}

.rok-content-rotator .arrow {
	background: url(../images/style9/slide-arrow.png) 0 0 no-repeat;
}

/* @end */

a.large .button {
	background: url(../images/style9/font-lg.png) 0 0 no-repeat;
}

a.small .button {
	background: url(../images/style9/font-sm.png) 0 0 no-repeat;
}

a.default .button {
	background: url(../images/style9/font-d.png) 0 0 no-repeat;
}

span.pathway img {
	background: url(../images/style9/typo/bullet-3.png) 0 50% no-repeat;
}

img.demo-border {
	border: 3px solid #ddd;
}
