/* Style 1 */

/* @group Structure */

body {
	background: #453621;
	color: #F3EDD7;
}

a,
.contentheading {
	color: #65862C;
}

body.header1 #header {
	background: url(../images/style1/texture-bg1.jpg) 0 -2px repeat-x;
}

body.header2 #header {
	background: url(../images/style1/texture-bg2.jpg) 0 -2px repeat-x;
}

body.header3 #header {
	background: url(../images/style1/texture-bg3.jpg) 0 -2px repeat-x;
}

body.header4 #header {
	background: url(../images/style1/texture-bg4.jpg) 0 -2px repeat-x;
}

body.header5 #header {
	background: url(../images/style1/texture-bg5.jpg) 0 -2px repeat-x;
}

body.header6 #header {
	background: url(../images/style1/texture-bg6.png) 0 -2px repeat-x;
}

img#logo {
	background: url(../images/style1/logo.png) 0 0 no-repeat;
}

#banner {
	color: #F3EDD7;
}

#showcase,
.rok-content-rotator .content {
	background: #D1D1BA;
	color: #40331E;
}

#showcase2 {
	background: url(../images/style1/showcase-top-bg.png) 0 0 repeat-x;
}

#body-bg {
	background: #F5F0DE url(../images/style1/body-bg.png) 0 0 repeat-x;
}

#leftcol,
#maincol,
#rightcol {
	color: #40331E;
}

#leftcol,
#rightcol {
	background: url(../images/style1/column-shadow-l.png) 0 0 no-repeat;
}

#leftcol2,
#rightcol2 {
	background: url(../images/style1/column-shadow-r.png) 100% 0 no-repeat;
}

td.rightcol,
td.leftcol {
	background: #EFE6C9;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#bottom-topbar {
	background: url(../images/style1/bottom-topbar.png) 0 0 repeat-x;
}

body.header1 #bottom {
	background: #453621 url(../images/style1/texture-bg1.jpg) 0 0 repeat-x;
}

body.header2 #bottom {
	background: #453621 url(../images/style1/texture-bg2.jpg) 0 0 repeat-x;
}

body.header3 #bottom {
	background: #453621 url(../images/style1/texture-bg3.jpg) 0 0 repeat-x;
}

body.header4 #bottom {
	background: #453621 url(../images/style1/texture-bg4.jpg) 0 0 repeat-x;
}

body.header5 #bottom {
	background: #453621 url(../images/style1/texture-bg5.jpg) 0 0 repeat-x;
}

body.header6 #bottom {
	background: #453621 url(../images/style1/texture-bg6.png) 0 0 repeat-x;
}

#bottom a {
	color: #E69D09;
}

img#rocket {
	background: url(../images/style1/rocket.png) 0 0 no-repeat;
}

#leftcol tr.sectiontableentry2 td,
#rightcol tr.sectiontableentry2 td,
#leftcol td.sectiontableentry2,
#rightcol td.sectiontableentry2 {
 	background: url(../images/style1/mainmenu-bg.png) 50% 0 no-repeat;
}

#leftcol tr.sectiontableentry1 td,
#rightcol tr.sectiontableentry1 td,
#leftcol td.sectiontableentry1,
#rightcol td.sectiontableentry1 {
	background: url(../images/style1/mainmenu-bg.png) 50% -27px no-repeat;
}

#maincol tr.sectiontableentry2 td,
#maincol td.sectiontableentry2 {
 	background: #EBE4D1;
}

/* @end */

/* @group Modules */

#showcasemodules .module-featured {
	background: url(../images/style1/modules/featured/module-bg.png) 0 100% repeat-x;
}

#showcasemodules .module-featured h3 {
	background: url(../images/style1/modules/featured/module-h3.png) 50% 0 no-repeat;
	color: #DDDBC6;
}

#showcasemodules .module-featured h3 span {
	color: #fff;
}

#showcasemodules .module h3 {
	color: #4A6726;
}

#leftcol .moduletable-hilite1 h3,
#rightcol .moduletable-hilite1 h3 {
	background: url(../images/style1/modules/hilite1/module-h3.png) 50% 0 no-repeat;
	color: #C5DC8C;
}

#leftcol .moduletable-hilite1 h3 span,
#rightcol .moduletable-hilite1 h3 span {
	color: #F3EDD7;
}

#leftcol .moduletable-hilite1,
#rightcol .moduletable-hilite1 {
	background: #5E8233 url(../images/style1/modules/hilite1/module-bg.png) 50% 100% no-repeat;
	color: #F3EDD7;
}

#leftcol .moduletable-hilite1 a.readon,
#rightcol .moduletable-hilite1 a.readon,
#leftcol .moduletable-hilite1 a,
#rightcol .moduletable-hilite1 a,
.module-hilite5 .readon,
.module-hilite5 a {
	color: #C5DC8C;
}

#leftcol .moduletable-hilite2 a.readon,
#rightcol .moduletable-hilite2 a.readon,
#leftcol .moduletable-hilite2 a,
#rightcol .moduletable-hilite2 a,
.module-hilite6 .readon,
.module-hilite6 a {
	color: #FAE6BB;
}

#leftcol .moduletable-hilite1 a.readon,
#rightcol .moduletable-hilite1 a.readon {
	color: #F3EDD7;
}

#leftcol .moduletable-hilite2 h3,
#rightcol .moduletable-hilite2 h3 {
	background: url(../images/style1/modules/hilite2/module-h3.png) 50% 0 no-repeat;
	color: #FAE6BB;
}

#leftcol .moduletable-hilite2 h3 span,
#rightcol .moduletable-hilite2 h3 span {
	color: #fff;
}

#leftcol .moduletable-hilite2,
#rightcol .moduletable-hilite2 {
	background: #D69001 url(../images/style1/modules/hilite2/module-bg.png) 50% 100% no-repeat;
	color: #F3EDD7;
}

#leftcol .moduletable h3,
#rightcol .moduletable h3 {
	background: url(../images/style1/modules/module-side/module-h3.png) 50% 0 no-repeat;
	color: #4B3B24;
}

#leftcol .moduletable h3 span,
#rightcol .moduletable h3 span {
	color: #536F26;
}

#leftcol .moduletable,
#rightcol .moduletable {
	background: #ECE2C4 url(../images/style1/modules/module-side/module-bg.png) 50% 100% no-repeat;
	color: #40331E;
}

#maincol .module h3 {
	background: url(../images/style1/modules/module-main/module-h3.png) 50% 0 no-repeat;
	color: #4B3B24;
}

#maincol .module h3 span {
	color: #536F26;
}

#maincol .module {
	color: #40331E;
}

#maincol .module-hilite3 h3 {
	background: url(../images/style1/modules/hilite3/module-h3.png) 50% 0 no-repeat;
	color: #C5DC8C;
}

#maincol .module-hilite3 h3 span {
	color: #F3EDD7;
}

#maincol .module-hilite3 {
	color: #40331E;
}

#maincol .module-hilite4 h3 {
	background: url(../images/style1/modules/hilite4/module-h3.png) 50% 0 no-repeat;
	color: #FAE6BB;
}

#maincol .module-hilite4 h3 span {
	color: #fff;
}

#maincol .module-hilite4 {
	color: #40331E;
}

#maincol .module-hilite5 h3 {
	background: url(../images/style1/modules/hilite5/module-h3.png) 50% 0 no-repeat;
	color: #C5DC8C;
}

#maincol .module-hilite5 h3 span {
	color: #F3EDD7;
}

#maincol .module-hilite5 {
	background: #5E8233 url(../images/style1/modules/hilite5/module-bg.png) 50% 100% no-repeat;
	color: #F3EDD7;
}

#maincol .module-hilite6 h3 {
	background: url(../images/style1/modules/hilite6/module-h3.png) 50% 0 no-repeat;
	color: #FAE6BB;
}

#maincol .module-hilite6 h3 span {
	color: #fff;
}

#maincol .module-hilite6 {
	background: #D69001 url(../images/style1/modules/hilite6/module-bg.png) 50% 100% no-repeat;
	color: #F3EDD7;
}

#bottommodules,
#bottom-menu a {
	color: #F5F0DE;
}

#bottom-menu a:hover {
	color: #fff;
}

#bottom-menu a.mainlevel {
	 border-right: 1px solid #4C3C24;
}

/* @end */

/* @group Menus */

ul.menu li.active li a:hover {
	color: #EFE6C9;
}

#horiz-menu a {
	color: #EFE6C9;
	background-image: url(../images/style1/menu-l.png);
}

#horiz-menu li {
	background-image: url(../images/style1/menu-r.png);
}

#horiz-menu li.active a,
#horiz-menu li.sfHover.active a {
	color: #40331E;
}

#horiz-menu.splitmenu li.active a,
#horiz-menu.splitmenu li.active-sfHover a {
	color: #40331E;
	background: url(../images/style1/menu-l.png) 0 0 no-repeat;
}

#horiz-menu.splitmenu li.active {
	background: url(../images/style1/menu-r.png) 100% 0 no-repeat;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a{
	color: #EFE6C9;
}

#horiz-menu li li a:hover,
#horiz-menu li.active li a:hover {
	color: #fff;
}

#horiz-menu li li a,
#horiz-menu li.active li a,
#horiz-menu li.active.parent.sfHover a,
#horiz-menu li.active-sfHover a,
#horiz-menu li.active.sfHover li a,
#horiz-menu li.active-sfHover li a {
	color: #EFE6C9;
}

#horiz-menu li li.parent a.daddy,
#horiz-menu li.active li.parent a.daddy {
	background: url(../images/style1/dropdown-child.png) 95% 50% no-repeat;
}

#horiz-menu li li.parent:hover a.daddy,
#horiz-menu li.active li.parent:hover a.daddy,
#horiz-menu li li.parent-sfHover a.daddy,
#horiz-menu li.active li.parent-sfHover a.daddy {
	background: url(../images/style1/dropdown-child.png) 95% 50% no-repeat;
}

#horiz-menu li li, 
#horiz-menu li:hover li,
#horiz-menu li.sfHover li,
#horiz-menu li.parent:hover li,
#horiz-menu li.parent.sfHover li,
#horiz-menu li.active.parent:hover li,
#horiz-menu li.active.parent.sfHover li {
	border-bottom: 1px solid #486525;
	background: none;
}

#horiz-menu ul ul {
	background: #4F6F27;
}

ul.menu li a,
a.mainlevel {
	background: url(../images/style1/mainmenu-bg.png) 0 0 no-repeat;
	color: #40331E;
}

ul.menu li.active a,
ul.menu li a:hover,
ul.menu li.active a:hover,
a#active_menu,
a.mainlevel:hover {
	color: #65862C;
	background: url(../images/style1/mainmenu-bg.png) 0 -27px no-repeat;
}

a#active_menu.sublevel {
	color: #40331E;
}

a.sublevel {
	color: #40331E;
}

a.sublevel:hover {
	color: #65862C;
}

/* @end */

/* @group Tabber */

#moduleslider-size {
	background: url(../images/style1/modules/tabber/module-bg.png) 50% 100% no-repeat;
}

#rokslide-toolbar {
	background: url(../images/style1/tab-bg.png) 0 0 repeat-x;
}

#rokslide-toolbar li.current,
#rokslide-toolbar li.last.current {
	background: url(../images/style1/active-tab-r.png) 100% 0 no-repeat;
}

#rokslide-toolbar li.current span {
	background: url(../images/style1/active-tab-l.png) 0 0 no-repeat;
}

#rokslide-toolbar li {
	background: url(../images/style1/tab-r.png) 100% 0 no-repeat;
}

#rokslide-toolbar li span {
	background: url(../images/style1/tab-l.png) 0 0 no-repeat;
}

#rokslide-toolbar {
	color: #749B34;
	background: url(../images/style1/tab-bg.png) 0 0 repeat-x;
}

#rokslide-toolbar li.active { 
	color: #40331E;
}

#rokslide-toolbar li.current { 
	color: #40331E;
}

/* @end */

/* @group Typography */

li.number-1 {
	background: url(../images/style1/typo/number-1.png) 0 0 no-repeat;	
}

li.number-2 {
	background: url(../images/style1/typo/number-2.png) 0 0 no-repeat;	
}

li.number-3 {
	background: url(../images/style1/typo/number-3.png) 0 0 no-repeat;	
}

li.number-4 {
	background: url(../images/style1/typo/number-4.png) 0 0 no-repeat;	
}

li.number-5 {
	background: url(../images/style1/typo/number-5.png) 0 0 no-repeat;	
}

li.number-6 {
	background: url(../images/style1/typo/number-6.png) 0 0 no-repeat;	
}

li.number-7 {
	background: url(../images/style1/typo/number-7.png) 0 0 no-repeat;	
}

li.number-8 {
	background: url(../images/style1/typo/number-8.png) 0 0 no-repeat;	
}

li.number-9 {
	background: url(../images/style1/typo/number-9.png) 0 0 no-repeat;	
}

ul.bullet-1 li {
	background: url(../images/style1/typo/bullet-1.png) 2px 0 no-repeat;
}

ul.bullet-2 li {
	background: url(../images/style1/typo/bullet-2.png) 2px 0 no-repeat;
}

ul.bullet-3 li {
	background: url(../images/style1/typo/bullet-3.png) 2px 0 no-repeat;
}

ul.bullet-4 li {
	background: url(../images/style1/typo/bullet-4.png) 2px 0 no-repeat;
}

blockquote {
	color: #40331E;
	background: url(../images/style1/typo/quote-start.png) 0 0 no-repeat;
}

blockquote p {
	background: url(../images/style1/typo/quote-end.png) 100% 100% no-repeat;
}

pre {
	background: #EBE4D1;
	border: 1px solid #E1DAC7;
}

.tool-tip {
	background: #EBE4D1;
	border: 1px solid #E1DAC7;
	padding: 4px;
}

span.alert {
	color: #CC0000;
	border-top: 3px solid #F98F84;
	border-bottom: 3px solid #F98F84;
	background: #F6CBBB url(../images/style1/typo/status-alert.png) 10px 50% no-repeat;
}

span.info {
	color: #0055BB;
	border-top: 3px solid #96B6D9;
	border-bottom: 3px solid #96B6D9;
	background: #D2DADB url(../images/style1/typo/status-info.png) 10px 50% no-repeat;
}

span.note {
	color: #B79000;
	border-top: 3px solid #F9E184;
	border-bottom: 3px solid #F9E184;
	background: #F6EABB url(../images/style1/typo/status-note.png) 10px 50% no-repeat;
}

span.download {
	color: #57861A;
	border-top: 3px solid #CBDF8F;
	border-bottom: 3px solid #CBDF8F;
	background: #E6E9BF url(../images/style1/typo/status-download.png) 10px 50% no-repeat;
}

/* @end */

/* @group signal login styling */

#sl_vert #sl_username input#mod_login_username, 
#sl_vert #sl_pass input#mod_login_password, 
#sl_vert #sl_submitbutton input.button {
	background-color: #E1DFC7;
	color: #40321D;
	border: 1px solid #AAA994;
}

#sl_vert #sl_submitbutton input.button {
	background: #A8A792;
	color: #fff;
}

/* @end */

/* @group RokContentRotator */

.rok-content-rotator {
	background: url(../images/style1/slide-div.png) 215px 0 repeat-y;
}

.rok-content-rotator .arrow {
	background: url(../images/style1/slide-arrow.png) 0 0 no-repeat;
}

/* @end */

a.large .button {
	background: url(../images/style1/font-lg.png) 0 0 no-repeat;
}

a.small .button {
	background: url(../images/style1/font-sm.png) 0 0 no-repeat;
}

a.default .button {
	background: url(../images/style1/font-d.png) 0 0 no-repeat;
}

span.pathway img {
	background: url(../images/style1/typo/bullet-3.png) 0 50% no-repeat;
}

img.demo-border {
	border: 3px solid #D2D2BB;
}
